extends layout

block content
  div.center
    h1 lol rival
    p Search for recent matches with rival
    form(name="info", method="get" action="/info")
      div.form-group
        label Username
        input(type="text", class='form-control', name="username")
        small(class="form-text text-muted") Example: Jacky Ma MTL
      div.form-group
        span Rival
        input(type="text", name="rival_username").form-control
        small(class="form-text text-muted") Example: Doctor Octopus
      div 
        input(type="submit", class='btn btn-primary', value="Search")
