body {  
  width: 100%;
  padding: 50px;
  vertical-align: middle;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.textInputFix {
  width: 320px;
  font-size: 17px;
  height: 42px;
}
.champ {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.inputText{
  margin-left: 14px;
  width: 600px;
}

.logo-button:hover{
  background-color: #4FDB0E;
}
.center{    
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.match {
  position: relative;
  padding: 10px ;
  margin-bottom: 20px;
  border-radius: 1px;
  width: 500px;
  font-size: 11px;
}

.matchList{
  max-width: 100%;
  display: block;
}
.win{
  background-color: #A4D0EB;
  border-left: 5px solid #67B2E2;
}
.user{
  border: 2px solid white;
}
.rival{
  border: 2px solid black;
}
.loss{
  background-color: #E1B6B4;
  border-left: 5px solid red;
}

.link { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /* background-image: url('empty.gif'); */
}   
.left{ 
  width: 220px;
  float: left;
}
.right{
  width: 220px;
  float: right;
}
.submit{
  width: 80px;
  height: 30px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span {
  width: 50px
}
a {
  color: #00B7FF;
}

/* 
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
} */